$color-header: white;
$color-agris-green: #038000;
$color-footer: #dedede;
$color-background: #f1f1f1;
$color-keywords: #ededed;
$color-menu: #f8f8f8;
$color-text: black;
$color-introduction-back: grey;
$color-introduction: white;
$color-download-border: black;
$color-article-border: #e0e0e0;
$color-nav-side-line: #dedede;
$color-side-menu: white;
$color-article: white;
$color-login-font: white;
$color-table-th: grey;
$color-nav-side-border: grey;