
.c-form{
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.c-form__heading{
  font-size: 1.2rem;
}
.c-form__text{
  font-size: 1rem;
}
.c-form__ul{
  display: flex;
  flex-direction: column;
  width: 27rem;
}
.c-form__li{
  list-style-type: none;
  padding-bottom: 0.3rem;
  display: inline-flex;
  justify-content: space-between;
}
.c-form__li-btn{
  justify-content: flex-end;
}
.c-form__title{  }
.c-form__input{
  width: 270px;
}
.c-form__btn{
  width: 270px;
}
.c-form__textarea{
  height: 3rem;
}
.c-form__li-checkbox{
  list-style-type: none;
  padding-left: 10.65rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.c-form__a{
  color: $color-agris-green;
}



