.c-nav-up {
  background: $color-header;
}


///// MOBILE /////

.c-nav-up{
  display: inline-block;
  padding-left: 6rem;
}

.c-nav-up__text{
  display: none;      // hidden for mobile version
      li{
        list-style-type: none;
        a{
          text-decoration: none;
          color: $color-text;
        }
      }
}

.c-nav-up__logo{
  list-style-type: none;
  margin-top: 1.5rem;
}
.c-nav-up__menu{
  list-style-type: none;
  margin-top: 1.5rem;
  img{
    height: 58px;
  }
}

