$color-agris-green: #038000;
$color-footer: #dedede;
$color-background: #f1f1f1;
$color-keywords: #ededed;
$color-menu: #f8f8f8;
$color-text: black;
$color-introduction: white;
$color-download-border: black;
$color-article-border: grey;