
.c-bold{
  font-weight: bold;
}
.c-2columns{
  column-count: 2;
}
.c-text{
  padding: 2rem;
}
.c-text__heading{
  font-size: 1.2rem;
}
.c-text__text{
  font-size: 1rem;
}
.c-text__archive{
  list-style-type: none;
}
.c-text__a{
  color: $color-agris-green;
}
.c-text__archive-heading{
  margin: 0;
}

@include mq($until: tab-m-nav) {  //MOBILE and TABLET
  .c-text__list{
    column-count: 1;
  }
}
@include mq($from: tab-s-nav) {  //from small TABLET
  .c-text__contacts-people{
    column-count: 2;
  }
  .c-text__cont-link{
    width: 80rem;
    align-items: center;
  }
  .c-text__contacts{
    text-align: center;
  }
}
@include mq($from: tab-m-nav, $until: tab) {  //TABLET
  .c-text__list{
    column-count: 2;
    list-style-position: inside;
  }
}
@include mq($from: tab) {  //COMPUTER
  .c-text{
    max-width: 80rem;
    min-width: 10rem;
  }
  .c-text__list{
    column-count: 2;
    list-style-position: inside;
  }
}
@include mq($from: tab, $until: com-s) {  //COMPUTER small
  .c-text{
    max-width: 40rem;
  }
  .c-text__list{
    column-count: 1;
  }
}
@include mq($from: com-s, $until: com-bb) {  //COMPUTER medium
  .c-text{
    max-width: 60rem;
  }
}
