
$color-agris-green: #038000;
$color-background: #f1f1f1;
$color-text: black;
$color-text-invert: white;
$color-non_required: grey;

$color-footer: #dedede;
$color-address-line: #bfbfbf;
$color-table-th: grey;
$color-search: #dedede;
$color-search-border: #dedede;
$color-archive-border: #e0e0e0;

/*HEADER colors*/
$color-introduction-back: grey;
$color-more_information: white;

/*MENU UP and SIDE colors*/
$color-menu: #f8f8f8;
$color-nav-side-border: #d9d9d9;
$color-nav-side-line: #dedede;
$color-side-menu: white;
$color-nav-side-bg: #ededed;
$color-up-menu: white;

/*ARTICLE colors*/
$color-keywords: #ededed;
$color-article-bg: white;
$color-download-border: black;
$color-article-border: #e0e0e0;