$width-max-article: 80rem;
$width-min-article: 10rem;

.c-body{
  background: $color-background;
  font-family: Calibri;
}
.c-articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;    //horizontal alignment to center
}
.c-articles__first{
  display: flex;
  padding: 2rem;
  margin: 1rem;
  text-align: left;
}
.c-first__img-news{
  max-width: 100%;
  height: auto;
}
.c-first__main{
  margin: auto;    //horizontal alignment to center
  display: flex;
  align-items: center;
}
.c-first__text{
  padding-left: 2rem;
}
.c-first__h3{}
.c-first__h3-green{
  color: $color-agris-green;
}
.c-first__a{
  display: inline-flex;
  margin: auto;  //horizontal alignment to center
  border: 1px solid $color-download-border;
  font-size: 1.5rem;
  text-decoration: none;
  color: $color-text;
  max-width: $width-max-article;
  min-width: $width-min-article;
  align-items: center;  //img vertical alignment
}
.c-first__p{
  display: flex;
  padding: 0 0.5rem 0 0;
  margin: 0;
}
.c-first__img-download{
  max-width: 100%;
  height: auto;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.c-first__download{
  display: flex;
  border-left: 1px solid $color-download-border;
  padding: 0.5rem;
  margin: 0;
}
.c-first__download:hover{
  background: transparentize($color-agris-green, 0.9);
}
.c-article{
  background: $color-article;
  margin: 0 1rem 1rem 1rem;
  border: 1px solid $color-article-border;
}
.c-article__tittle{
  background: $color-menu;
  padding: 2rem 1rem 1rem 1rem;
}
.c-article__h2{
  color: $color-agris-green;
}
.c-article__abstract{
  border-bottom: 1px solid $color-article-border;
  border-top: 1px solid $color-article-border;
  padding: 2rem 1rem 1rem 1rem;
}
.c-article__h3-abstract{
  color: $color-agris-green;
}
.c-article__h3{}
.c-article__authors{
  padding: 2rem 1rem 1rem 1rem;
}
.c-article__keywords{
  border-top: 1px solid $color-article-border;
  padding: 2rem 1rem 1rem 1rem;
  background: $color-keywords;
}


@media (min-width: 1024px) {    // COMPUTER
  .c-body {
    background: cornflowerblue;
  }
  .c-article{
    max-width: $width-max-article;
    min-width: $width-min-article;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {    // COMPUTER smaller
  .c-article{
    max-width: 40rem;
  }
  .c-articles{
    max-width: 40rem;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {   // TABLET
  .c-body {
    background: olive;
  }
}
@media (max-width: 599px) {   // MOBILE
  .c-body {
    background: coral;
  }
}