
.c-bold{
  font-weight: bold;
}

.c-text{
  padding: 5rem;
  background: $color-article-bg;
  border-left: 1px solid $color-article-border;
  border-right: 1px solid $color-article-border;
  margin: 0 auto 0 auto;
  width: 100%;
}
.c-text__heading{
  font-size: 1.4rem;
}
.c-text__text{
  font-size: 1.2rem;
}
.c-text__text-office{
  text-align: center;
}
.c-text__archive{
  list-style-type: none;
}
.c-text__a{
  color: $color-agris-green;
}
.c-text__archive-heading{
  margin: 0;
}
.c-text__contact{
  background: transparentize($color-agris-green, 0.9);
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  p{
    margin: 0;
  }
  box-shadow: 2px 2px 10px grey;
  width: 20rem;
  text-align: center;
}
.c-text__contacts-department{
  background: transparentize($color-agris-green, 0.9);
  padding: 2rem;
  margin-bottom: 2rem;
}
.c-text__contacts-people{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.c-text__contacts{
  text-align: center;
}

@include mq($until: mob) {  //MOBILE
  .c-text{
    padding: 1.5rem;
  }
}
@include mq($until: tab-m-nav) {  //MOBILE and TABLET
  .c-text__contacts-people{
    flex-direction: column;
    align-items: center;
  }
  .c-text__contact{
    width: 16rem;
  }
}
@include mq($from: tab) {  //COMPUTER
  .c-text{
    max-width: 80rem;
    min-width: 10rem;
  }
}
@include mq($from: tab, $until: com-s) {  //COMPUTER small
  .c-text{
    width: 70%;
  }
  .c-text__contacts-people{
    flex-direction: column;
    align-items: center;
  }
  .c-text__contact{
    margin: 0 0.5rem 2rem 0.5rem;
  }
}
@include mq($from: com-s, $until: com-bb) {  //COMPUTER medium
  .c-text{
    width: 80%;
  }
}