article {                     // JUST FOR TESTING
  background: yellowgreen;    // JUST FOR TESTING
}                             // JUST FOR TESTING


///// MOBILE /////

.c-articles__first{
  padding: 3rem;
  margin-bottom: 1rem;
}

.c-articles__download{
  border: 1px solid $color-download-border;
  width: 30%;
  padding: 0.5rem;
  img{
    margin-right: 0.5rem;
    border-right: 1px solid $color-download-border;

    padding-right: 0.5rem;
  }
}

.c-articles__article{
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid $color-article-border;

 }

.c-articles__article-tittle{
  border-bottom: 1px solid $color-article-border;
}

.c-articles__article-abstract{
  border-bottom: 1px solid $color-article-border;
  padding-top: 2rem;
}

.c-articles__article-authors{
  border-bottom: 1px solid $color-article-border;
  padding-top: 2rem;
}

.c-articles__article-keywords{
  padding-top: 2rem;
}