
.c-footer{
  background: $color-footer;
  padding: 1rem 0 0 1rem;
  align-items: center;
  justify-content: space-around;
}
.c-footer__a{}
.c-footer__img{}
.c-footer__address{
  text-align: left;
  padding-left: 0.5rem;
}

