
.c-form{
  display: flex;
  flex-direction: column;
}
.c-form__heading{
  font-size: 1.2rem;  //h1
}
.c-form__text{
  font-size: 1rem;  //h2
}
.c-form__ul{
  display: flex;
  flex-direction: column;
  width: 27rem;
}
.c-form__li{
  list-style-type: none;
  padding-bottom: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  //align-items: center;
  label{
    padding: 0.4rem 0 0.4rem 0;
  }
}
.c-form__li-btn{
  justify-content: flex-end;
}
.c-form__input{
  width: 270px;
  padding: 0.4rem;
  font-family: Calibri, sans-serif;
}
.c-form__btn{
  width: 270px;
  padding: 0.4rem;
  font-family: Calibri, sans-serif;
}
.c-form__textarea{
  height: 3rem;
}
.c-form__li-checkbox{
  list-style-type: none;
  padding-left: 10.65rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.c-form__a{
  color: $color-agris-green;
}


/*.c-form__input:required{
  background: red;
}*/

