
.c-footer{
  background: $color-footer;
  padding: 1rem 0 0 1rem;
  align-items: center;
  justify-content: space-around;
}
.c-footer__p{
  margin: 1rem;
}
.c-footer__img{
  max-width: 100%;
  height: auto;
}
.c-footer__address{
  text-align: left;
  padding-left: 0.5rem;
}