
.c-articles{}

.c-articles__first{
  padding: 2rem;
  align-items: center;
  border: 1px solid $color-article-border;
  margin: 1rem 0 1rem 0;
}
.c-first__img-news{}
.c-first__h3{}
.c-first__h3-green{
  color: $color-agris-green;
}
.c-first__a{
  display: flex;
  border: 1px solid $color-download-border;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: $color-text;
}
.c-first__p{
  display: flex;
  padding: 0 0.5rem 0 0;
  margin: 0;
}
.c-first__img-download{}
.c-first__download{
  display: flex;
  border-left: 1px solid $color-download-border;
  padding: 0 0 0 0.5rem;
  margin: 0;
}

.c-article{
  background: $color-article;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid $color-article-border;
}
.c-article__tittle{
  background: $color-menu;
}
.c-article__h2{}
.c-article__abstract{
  border-bottom: 1px solid $color-article-border;
  border-top: 1px solid $color-article-border;
  padding-top: 2rem;
}
.c-article__h3{}
.c-article__authors{
  padding-top: 2rem;
}
.c-article__keywords{
  border-top: 1px solid $color-article-border;
  padding-top: 2rem;
  background: $color-keywords;
}



/*

//////  SCREEN  ////////
@media (max-width: 801px){
  .c-articles__article{
    margin: 2rem;
  }
}
*/