.c-nav-side {
 background: $color-side-menu;
}

///// MOBILE /////

.c-nav-side{
  li{
    list-style-type: none;
    a{
      text-decoration: none;
    }
  }
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  background: $color-menu;
}

.c-nav-side__link-header{
  color: $color-text;
}

.c-nav-side__link{
  color: $color-text;
  display: none;
}

.c-nav-side__link-indexed{
  color: $color-agris-green;
}

.c-nav-side__link-more{
  color: $color-agris-green;
  border: 1px solid $color-agris-green;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.c-nav-side_ul1{
  padding-top: 2rem;
}

.c-nav-side__indexed-block{
  border-top: 1px solid $color-nav-side-line;
  padding-top: 2rem;
  align-items: center;
}

/*
///////  MOBILE  //////////
@media (max-width: 599px) {
  .c-nav-side__link{
    display: none;      // hidden for mobile version
  }
  .c-nav-side{
    background: yellow;
  }
}
///////  TABLET  //////////
@media (min-width: 600px) and (max-width: 800px) {
  .c-nav-side__link{
    display: none;
  }
  .c-nav-side{
    background: purple;
  }
}
//////  SCREEN  ////////
@media (min-width: 801px) {
  .c-nav-side__link{
    display: none;
  }
  .c-nav-side{
    background: red;
  }
}
*/