
.c-footer{
  background: $color-footer;
  padding: 1rem 0 0 1rem;
  align-items: center;
  justify-content: space-around;
}
.c-footer__a{}
.c-footer__img{
  max-width: 100%;
  height: auto;
}
.c-footer__address{
  text-align: left;
  padding-left: 0.5rem;
}

@media (min-width: 1024px) {    // COMPUTER
}
@media (min-width: 600px) and (max-width: 1023px) {   // TABLET
}
@media (max-width: 599px) {   // MOBILE
}